.ProductDescp
{
    margin: 80px 0px;
}
.ProductDescp .ProductContent
{
    display: grid; 
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 50px;
}
.ProductDescp .ProductContent .imgcontainer
{
    height: 100%;
    width: 100%;
}
.ProductDescp .ProductContent .imgcontainer img{
    height: 100%;
    width: 100%;
}
.ProductDescp .ProductContent .textcontainer
{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

