
.nav-bar
{
    font-family: 'Kode Mono', monospace;
    background-color: #14618e;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}
.nav-bar .open, .nav-bar .close
{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    display: none;
    z-index: 10000;
}
.nav-bar .open.link.active{
    display: block;
}
.nav-bar .close.active{
    display: block;
}
img{
    height: 3rem;
    /* width: 5rem; */
}
.nav-bar .nav-content-left .links
{
    display: flex;
    
}
.nav-bar .nav-content-left .links.active
{
    backdrop-filter: blur(20px);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    display: flex;
}
.nav-bar .nav-content-left .links li .link.active{
    font-size: 30px;
}
.nav-content-left ul, .nav-content-right ul
{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}
.nav-content-right ul li
{
    color: #f5f7f9;
}
.nav-content-left ul li a, .nav-content-right ul li a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.nav-content-right ul li i{
    color: white;
    font-size: 1rem;
}
.banner
{
    background: rgb(2,0,36);
    background: linear-gradient(329deg, rgba(2,0,36,1) 0%, rgba(22,69,98,1) 35%, rgba(0,212,255,1) 100%); 
    height: 85vh;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

}
.container-left
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    /* align-items: center; */
    padding: 0 8%;
    width: 50%;
}
.container-left h1 {
    font-family: 'Anta', sans-serif;
    color: white;
    font-size: 4rem;
    margin-bottom: 1rem;
    align-items: right;
    line-height: 45px;

}
.container-left h4 {
    font-family: 'Anta', sans-serif;
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    align-items: right;

}
.container-left .btns
{
    display: flex;
    gap: 8px;
    /* margin-top: 1rem; */
}

.container-left .btns .btns1
{
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}
.container-left .btns .btns1:hover
{
    background-color: black;
    color: white;
}
.container-left .btns .btns2
{
    padding: 10px 20px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}
.container-left .btns .btns2:hover
{
    background-color: white;
    color: black;
}
.container-right{
    width: 50%;
    height: 100%;
}
.container-right img{
    object-fit: cover;
    height: 100%;
    width: 100%;

}
/* sponsor section */
.sponsor
{
  width: 100%;
}
.sponsor .logos
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 15px;
    padding: 50px 0;
}
.logos .logo img{
    height: auto;
    max-width: 150px;
}
/* sponser section */
/* featured items */
.feature-items
{
    margin-bottom: 150px;
}
.feature-items .container .feature-section
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 15px;

}
.feature-items .container .feature-section .item 
{
    height: 500px;
    position: relative;
    z-index: 50;
}
.container .feature-section .item .img-container
{
    width: 100%;
    height: 100%;
}
.container .feature-section .item .img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
.feature-section .item .content{
    width: 90%;
    z-index: 100;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}
.featured-products
{
    background-color: #f5f7f9;
    padding-bottom: 100px;
}
.featured-products h1{
       /* text-align: center; */
    padding-top: 50px;
    padding-bottom: 25px;
    margin: auto;
    font-size: 2.5rem;
    width: max-content;
}
.featured-products hr{
height: 3px;
width: 100px;
margin: auto;
background-color:#14618e;
margin-bottom: 50px;
}
.featured-products .bg-container
{
    width: 100%;
}
.featured-products .bg-container .card-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 15px;
}
.featured-products .bg-container .card-container .card{
display: flex;
flex-direction: column;
}
.card-container .card .img-card
{
    overflow: hidden;
    width: 100%;
    height: 80%;
    margin-bottom: 15px;
    position: relative;
}
.img-card .shop-now
{
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
}
.img-card .shop-now p{
    background-color: white;
    border-radius: 20px;
    padding: 8px 12px
}

.img-card .shop-now .add-to-card
{
    display: none;
    border: none;
    background: transparent;
    font-size: 20px;
}
.card .img-card:hover > .shop-now > .add-to-card
{
    display: block;
}
.card-container .card .img-card img
{
    width: 100%;
    height: 100%;
    transition: 1.2s;
}
.card-container .card .img-card:hover img
{
    transform: scale(1.2);
}
.card .text-card p{

    font-size: 18px;
}
.card .text-card .gender
{
    font-size: 14px;
    color: gray;
}


/* for footer */
.footer-hr
{
    margin: 80px 0;
}
.footer
{
    width: 100%;
    padding-top: 10px;

}
.footer .footer-contents
{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.footer-contents .footer-content
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-content h3{
    font-size: 30px;
}
.footer-contents .footer-content  form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-content form input{
     height: 40px;
     padding-left: 5px;
     outline: none;
}
.footer-content form button 
{
    width: max-content;
    background-color: #14618e;
    color: white;
    padding: 10px 15px;
    border:  none;
}
.footer .copyright
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px
}
.footer .copyright .icons
{
    display: flex;
    gap:20px;
    font-size: 25px;
}
.footer-content .footer-items li
{
    font-size: 15px;
    color: gray;
}

/* for footer */


/* responsive for nav bar */
@media (max-width: 818px)
{ 
    .nav-bar .nav-content-right
    {
        display: none;
    }
    
}
@media (max-width: 710px)
{ 
    .nav-bar .nav-content-left .links
    {
        display: none;
    }
    .nav-bar .nav-content-left .logo img{
        height: 4.5rem;
        padding-left: 25px;
        height: 50px;
    }
    .banner .container-left h1
    {
        font-size: 3rem;
    }
    .banner .container-right h4
    {
        font-size: 1.5rem;
    }
    
}
/* banner */
@media (max-width:710px)
{
    .banner .container-right
    {
        display: none;
    }
    
}
/* hamburger */
@media (max-width:710px)
{
    .nav-bar .open
    {
        display: block;
    }
}